@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-primary: #0F47AF;
  --color-primary-foreground: #FFFFFF;
  
  --color-secondary: #059669;
  --color-secondary-foreground: #FFFFFF;
  
  --color-accent: #F97316;
  --color-accent-foreground: #FFFFFF;
  
  --color-destructive: #ef4444;
  --color-destructive-foreground: #FFFFFF;
  
  --color-muted: #F9FAFB;
  --color-muted-foreground: #64748b;
  
  --color-border: #e2e8f0;
  --color-input: #e2e8f0;
  --color-ring: #0F47AF;
}

:root {
  --background: #FFFFFF;
  --foreground: #1F2937;
  --radius: 0.75rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #334155;
}
